@use 'shadows';
@use 'spaces';
@use 'colors';
@use 'radius';

$info: colors.$color_5;
$warning: colors.$color_6;
$danger: colors.$color_7;
$success: colors.$color_8;

:root {
	--info: #{$info};
    --warning: #{$warning};
    --success: #{$success};
    --danger: #{$danger};
	--text-alert: #{colors.$color_1};
}

.alert {
	display: grid;
	box-shadow: shadows.$box-shadow;
	border-radius: radius.$radius_default;
	padding: spaces.$space_default;
	grid-template-columns: 0.9fr 0.1fr;
	.close-area {
		justify-self: end;
		align-self: center;
	}
	.message-area {
		justify-self: start;
		align-self: center;
	}
	button {
		color: var(--text-secondary);
		background-color: transparent;
		border: none;
	}
}

.alert-success {
	color: var(--text-alert);
	background-color: var(--success);
	border-color: var(--border-primary);
}

.alert-info {
	color: var(--text-alert);
	background-color: var(--info);
	border-color: var(--border-primary);
}

.alert-warning {
	color: var(--text-alert);
	background-color: var(--warning);
	border-color: var(--border-primary);
}

.alert-danger {
	color: var(--text-alert);
	background-color: var(--danger);
	border-color: var(--border-primary);
}
