@use 'spaces';
@use 'shadows';
@use 'colors';
@use 'radius';
@use 'fonts';

:root {
	--btn-primary-text: #{colors.$color_1};
	--btn-primary-bg: #{colors.$color_4};
	--btn-disabled-text: #{colors.$color_1};
	--btn-disabled-bg: #{colors.$color_3};
}

button {
	/* space */
	padding: spaces.$space_default spaces.$space_sm spaces.$space_default spaces.$space_sm;

	/* font */
	font-size: fonts.$font_default;

	/* display */
	border-radius: radius.$radius_default;
	border-style: none;
	box-shadow: shadows.$box-shadow;

	&.primary {
		color: var(--btn-primary-text);
		background-color: var(--btn-primary-bg);
	}
	&:disabled {
		color: var(--btn-disabled-text) !important;
		background-color: var(--btn-disabled-bg) !important;
	}
}
