button {
    color: colors.$light;
    padding: spaces.$space_default spaces.$space_sm spaces.$space_default spaces.$space_sm;
    font-size: fonts.$font_default;
    box-shadow: shadows.$box-shadow;
    &.primary {
        background-color: colors.$primary;
        border-radius: radius.$radius_default;
        border-style: none;
    }
    &:disabled {
        background-color: colors.$disabled !important;
    }
}
