$color_1: #fff;
$color_2: #d9d9d9;
$color_3: #494949;
$color_4: #17b7f1;
$color_5: #3cabdf;
$color_6: #c6b838;
$color_7: #df4a3c;
$color_8: #3cdf62;

$primary: $color_1;
$secondary: $color_3;
$ternary: $color_4;

$primary_light: $color_3;
$secondary_light: $color_1;
$ternary_light: $color_4;

:root {
	--primary: #{$primary};
	--secondary: #{$secondary};
	--ternary: #{$ternary};
	
	--background_primary: #1e1e1e;
	.theme-light {
		--primary: #{$primary_light};
		--secondary: #{$secondary_light};
		--ternary: #{$ternary_light};
		--background_primary: #fff;
	}
}
