$primary: #d9d9d9;
$secondary: #494949;
$ternary: #17b7f1;
$primary_light: #494949;
$secondary_light: #d9d9d9;
$ternary_light: #3cabdf;

$text_primary: $primary;
$text_secondary: $secondary;
$text_ternary: $ternary;
$text_primary_light: $secondary;
$text_secondary_light: $primary;
$text_ternary_light: $ternary;

$link_primary: $primary;
$link_primary_hover: $ternary;
$link_primary_active: $primary;
$link_primary_visited: $ternary;
$link_primary_light: $secondary;
$link_primary_hover_light: $ternary;
$link_primary_active_light: $secondary;
$link_primary_visited_light: $secondary;

$border_default: $secondary;
$border_primary: $ternary;
$border_secondary: $ternary;
$border_default_light: $ternary;
$border_primary_light: $secondary;
$border_secondary_light: $secondary;

$background_primary: #1e1e1e;
$background_secondary: $secondary;
$background_primary_light: #fff;
$background_secondary_light: $secondary;

$space_xs: 0.25rem;
$space_sm: 0.5rem;
$space_default: 0.75rem;
$space_lg: 1rem;
$space_xl: 2rem;
$space_xl_2: 4rem;
$space_xl_3: 6rem;
$space_xl_4: 8rem;

$radius_default: 0.5rem;
$radius_lg: 1.25rem;
$radius_full: 100%;

$font_sm: 0.5rem;
$font_default: 1rem;
$font_lg: 2rem;
$font_xl: 3rem;
$font_xl_2: 4rem;

:root {
	--text_primary: #{$text_primary};
	--text_secondary: #{$text_secondary};
	--text_ternary: #{$text_ternary};

	--link_primary: #{$link_primary};
	--link_primary_hover: #{$link_primary_hover};
	--link_primary_active: #{$link_primary_active};
	--link_primary_visited: #{$link_primary_visited};

	--border_default: #{$border_default};
	--border_primary: #{$border_primary};
	--border_secondary: #{$border_secondary};

	--background_primary: #{$background_primary};

	.theme-light {
		--text_primary: #{$text_primary_light};
		--text_secondary: #{$text_secondary_light};
		--text_ternary: #{$text_ternary_light};

		--link_primary: #{$link_primary_light};
		--link_primary_hover: #{$link_primary_hover_light};
		--link_primary_active: #{$link_primary_active_light};
		--link_primary_visited: #{$link_primary_visited_light};

		--border_default: #{$border_default_light};
		--border_primary: #{$border_primary_light};
		--border_secondary: #{$border_secondary_light};

		--background_primary: #{$background_primary_light};
	}
}
