
.grid {
    display: grid
}

.grid-balanced {
    justify-content: space-around
}

.grid-row-start {
    justify-content: start
}

.grid-row-end {
    justify-content: end
}

.grid-column-start {
    align-items: start
}

.grid-column-end {
    align-items: end
}

.grid-gap-none {
    gap: 0
}

.grid-gap-sm {
    gap: .75rem
}

.grid-gap-lg {
    gap: 1rem
}

.grid-gap-xl {
    gap: 2rem
}

.grid-gap-xl-2 {
    gap: 4rem
}

.grid-direction-row {
    flex-direction: row
}

.grid-direction-column {
    flex-direction: column
}
