input[type="email"], input[type="text"], input[type="password"] {
    color: colors.$dark;
    background-color: colors.$light;
    border-radius: radius.$radius_default;
    border-color: colors.$borderPrimary;
    border-style: solid;
    padding: $space_default spaces.$space_sm spaces.$space_default spaces.$space_sm;
    font-size: fonts.$font_default;
    box-shadow: $box-shadow;
    &:hover, &:focus-visible, &:focus-within, &:target, &:active {
        border-color: colors.$primary;
        box-shadow: shadows.$box-shadow-hover;
    }
    &:focus {
        outline-color: colors.$primary;        
    }
}