$space_xs: 0.25rem;
$space_sm: 0.5rem;
$space_default: 0.75rem;
$space_lg: 1rem;
$space_xl: 2rem;
$space_xl_2: 4rem;
$space_xl_3: 6rem;
$space_xl_4: 8rem;

:root {
	--space_xs: #{$space_xs};
	--space_sm: #{$space_sm};
	--space_default: #{$space_default};
	--space_lg: #{$space_lg};
	--space_xl: #{$space_xl};
	--space_xl_2: #{$space_xl_2};
	--space_xl_3: #{$space_xl_3};
	--space_xl_4: #{$space_xl_4};
}

.space-xs {
	height: var(--space_xs);
}

.space-sm {
	height: var(--space_sm);
}

.space-lg {
	height: var(--space_lg);
}

.space-xl {
	height: var(--space_xl);
}

.space-xl-2 {
	height: var(--space_xl_2);
}

.space-xl-3 {
	height: var(--space_xl_3);
}

.space-xl-4 {
	height: var(--space_xl_4);
}
