.stack {
	display: flex;
}

.stack-width-full {
	width: 100%;
}

.stack-width-fit {
	width: fit-content;
}

.stack-balanced {
	justify-content: space-around;
}

.stack-row-start {
	justify-content: flex-start;
}

.stack-row-end {
	justify-content: flex-end;
}

.stack-column-start {
	align-items: flex-start;
}

.stack-column-end {
	align-items: flex-end;
}

.stack-gap-none {
	gap: 0;
}

.stack-gap-sm {
	gap: $space_default;
}

.stack-gap-lg {
	gap: $space_lg;
}

.stack-gap-xl {
	gap: $space_xl;
}

.stack-gap-xl-2 {
	gap: $space_xl_2;
}

.stack-direction-row {
	flex-direction: row;
}

.stack-direction-column {
	flex-direction: column;
}
